
.navbar-background
{
  background-color: orangered;
  
}

.font-color{

  color:rgb(16, 16, 16);
  text-decoration: none;
  padding :5px;
  margin: 0px;
  

}
.nav-li{
  list-style-type:none;
}
.nav-style{
  margin: 0px;
  display: flex;
  padding-inline-start: 0px;
  align-items: center;
 
}
  

.nav-flex{

  display: flex;
  justify-content: space-between;
}
.hacker{
  width: auto;
}
.login{
 display: flex;
justify-content: space-between;
}

/* Aroj CSS styles for Footer*/

.horizontal-break {
  height: 3px;
  background-color: rgb(225, 134, 48);
  border: none;
}

.container-footer {
  margin-top: 650px;
}

.termsAndConditions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.searchField {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}